Repository bdelion/weather-harvest: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc.json:

{
  "**/*.js": ["eslint --fix", "prettier --write"],
  "**/*.md": ["markdownlint --fix", "prettier --write"],
  "**/*.{json,yml,yaml}": ["prettier --write"]
}

chore(deps): upgrade ESLint, Prettier et Globals
  package-lock.json
  package.json
Due: prettier --write

chore: update .nvmrc to Node.js 20
  .nvmrc
Due: none

chore: update GitHub Actions to use Node.js version from .nvmrc
  .github/workflows/auto-review.yml
  .github/workflows/ci.yml
Due: prettier --write

chore: add semantic-release and configure versioning automation
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --write

ci(semantic-release): configure Semantic Release
  .github/workflows/ci.yml
  .releaserc.json
  package.json
Due: prettier --write

chore(release): configure changelog generation and version comparison
  .releaserc.json
  CHANGELOG.md
  commitlint.config.mjs
  config/changelog-prepare.js
  config/changelog-template.hbs
Due: eslint --fix, prettier --write, markdownlint --fix

:poop: @semantic-release/git message without nextRelease.notes
  .releaserc.json
Due: prettier --write

:poop: ci.yml unactive husky hooks
  .github/workflows/ci.yml
Due: prettier --write

:poop: formatage
  .github/workflows/ci.yml
  .prettierrc
Due: prettier --write

:poop: ci.yml add stage disable enable husky
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 1.0.0-snapshot.1 [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

Notes added by 'git notes add'
  48bcd61c4e1f8f8466f0670a97dce168b20c28de
Due: none

:poop: review releaserc conf
  .releaserc.json
Due: prettier --write

:poop: review CHANGELOG
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

:poop: review changelog template
  config/changelog-template.hbs
Due: none

:poop: prettier ignore .hbs
  .prettierignore
Due: none

Notes added by 'git notes add'
  a6a2fa3d63dc2ac77d0ef707a071922383f07e5c
Due: none

:poop: review changelog template
  .releaserc.json
  config/changelog-prepare.js
  config/changelog-template.hbs
Due: eslint --fix, prettier --write

:poop: format
  config/changelog-prepare.js
Due: eslint --fix, prettier --write

:poop: CHANGELOG du main
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

Notes added by 'git notes add'
  4f396f67520f5f030dbf34a54cca0481d0a8e798
Due: none

:poop: save
  .releaserc.json.save
  CHANGELOG.md
  config/changelog-template.hbs
  config/changelog-template.hbs.save
  package-lock.json
  package.json
  release.config.cjs
Due: prettier --write, markdownlint --fix

:poop: First package publication
  .npmrc
  package.json
Due: prettier --write

chore: fix CHANGELOG markdownlint issue"
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

feat(versioning): add new semantic-release configuration
  .releaserc.json
  package.json
  release.config.js
Due: eslint --fix, prettier --write

:poop: Sauvegarde suite nouvelles installations et conf
  package-lock.json
  package.json
  release.config.js
  release.config.mjs
Due: eslint --fix, prettier --write

:poop: Save first config with changelog hbs
  config/changelog-template.hbs
  release.config.mjs
Due: none

Notes added by 'git notes add'
  39fbe65501056a401fa49feadbe857ca11fa6e3b
Due: none

:poop: changelog hbs 2
  config/changelog-template.hbs
Due: none

feat: template for generate CHANGELOG
  release.config.mjs
Due: none

Notes added by 'git notes add'
  fd76e45ea49c3ffa0a38aede0b71428671d7023a
Due: none
